.mainDiv {
  width: 800px;
  height: 500px;
  background-color: rgb(55, 55, 136);
  display: flex;
  flex-direction: row;
}
.div1 {
  width: 100px;
  height: 100px;
  color: azure;
  border: 2px solid white;
  background-color: rgb(224, 152, 70);
  font-size: 5rem;
  text-align: center;
}
.row_ReverseDiv {
flex-direction: row-reverse;
}
.columnDiv {
flex-direction: column;
}

.column_ReverseDiv {
flex-direction: column-reverse;
}

.flex-wrapDiv {
flex-wrap: wrap;
}

.flex-nowrapDiv {
flex-wrap: nowrap;
}

.flex-wrap-reverseDiv {
flex-wrap: wrap-reverse;
}

.flex_Justify-content_Align-items1 {
flex-direction: row;
  justify-content: start;
  align-items: start;
}

.flex_Justify-content_Align-items2 {
flex-direction: row;
  justify-content: center;
  align-items: start;
}

.flex_Justify-content_Align-items3 {
flex-direction: row;
  justify-content: end;
  align-items: start;
}

.flex_Justify-content_Align--items4 {
flex-direction: row;
  justify-content: start;
  align-items: center;
}

.flex_Justify-content_Align-items5 {
flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex_Justify-content_Align-items6 {
flex-direction: row;
  justify-content: end;
  align-items: center;
}

.flex_Justify-content_Align-items7 {
flex-direction: row;
  justify-content: start;
  align-items: end;
}

.flex_Justify-content_Align-items8 {
flex-direction: row;
  justify-content: center;
  align-items: end;
}

.flex_Justify-content_Align-items9 {
flex-direction: row;
  justify-content: end;
  align-items: end;
}

.flex_row-reverse_Justify-content_Align-items1 {
flex-direction: row-reverse;
  justify-content: start;
  align-items: start;
}

.flex_row-reverse_Justify-content_Align-items2 {
flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
}

.flex_row-reverse_Justify-content_Align-items3 {
flex-direction: row-reverse;
  justify-content: end;
  align-items: start;
}
.flex_row-reverse_Justify-content_Align-items4 {
flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
}

.flex_row-reverse_Justify-content_Align-items5 {
flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.flex_row-reverse_Justify-content_Align-items6 {
flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

.flex_row-reverse_Justify-content_Align-items7 {
flex-direction: row-reverse;
  justify-content: start;
  align-items: end;
}

.flex_row-reverse_Justify-content_Align-items8 {
flex-direction: row-reverse;
  justify-content: center;
  align-items: end;
}

.flex_row-reverse_Justify-content_Align-items9 {
flex-direction: row-reverse;
  justify-content: end;
  align-items: end;
}

.flex_column_Justify-content_Align-items1 {
flex-direction: column;
  justify-content: start;
  align-items: start;
}

.flex_column_Justify-content_Align-items2 {
flex-direction: column;
  justify-content: start;
  align-items: center;
}

.flex_column_Justify-content_Align-items3 {
flex-direction: column;
  justify-content: start;
  align-items: end;
}

.flex_column_Justify-content_Align-items4 {
flex-direction: column;
  justify-content: center;
  align-items: start;
}

.flex_column_Justify-content_Align-items5 {
flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_column_Justify-content_Align-items6 {
flex-direction: column;
  justify-content: center;
  align-items: end;
}

.flex_column_Justify-content_Align-items7 {
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.flex_column_Justify-content_Align-items8 {
flex-direction: column;
  justify-content: end;
  align-items: center;
}

.flex_column_Justify-content_Align-items9 {
flex-direction: column;
  justify-content: end;
  align-items: end;
}

.flex_column-reverse_Justify-content_Align-items1 {
flex-direction: column-reverse;
  justify-content: start;
  align-items: start;
}

.flex_column-reverse_Justify-content_Align-items2 {
flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
}

.flex_column-reverse_Justify-content_Align-items3 {
flex-direction: column-reverse;
  justify-content: start;
  align-items: end;
}

.flex_column-reverse_Justify-content_Align-items4 {
flex-direction: column-reverse;
  justify-content: center;
  align-items: start;
}

.flex_column-reverse_Justify-content_Align-items5 {
flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
}

.flex_column-reverse_Justify-content_Align-items6 {
flex-direction: column-reverse;
  justify-content: center;
  align-items: end;
}

.flex_column-reverse_Justify-content_Aligni-tems7 {
flex-direction: column-reverse;
  justify-content: end;
  align-items: start;
}

.flex_column-reverse_Justify-content_Align-items8 {
flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
}

.flex_column-reverse_Justify-content_Align-items9 {
flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
}



#parentDiv{
  height: 500px;
  width: 40%;
  background-color: gold;
  /* border: 2px solid black;  */

}

 #childOne{
  width:30%;
  height: 300px;
  min-width: 350px;
  max-width:900px;
  background-color:rgb(218, 0, 218) ;
} 

 #childTwo{
  width: 200vw;
  height: 200vh;
  background-color:deepskyblue;
 } 
 /* .flex-wrapDiv1 {

  flex-wrap: wrap;
  justify-content: start ;
  align-items:start;
} */
